.home{
    height: calc(100vh - 3.5rem);
    font-size: 1rem;
    background-image: url('../../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.placard{
    border-radius: 10px;
    background-color: var(--dark-blue-opacity);
    width: 37em;
    height: fit-content;
    padding: 2em;
    box-shadow: 13px 12px 18px;
    margin: auto 0;
}
.placard-text{
    color: var(--white);
    font-family: var(--font-one);
    font-size: 6em; 
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    font-size: 2.5em;
    width: 6em;
    height: 2em;
    color: var(--white);
    border-radius: 10px;
    transition: background-color .5s;
}
.btn:hover{
    background-color:var(--dark-green);
}