.card-large{
    font-size: 1rem;
    font-family: var(--font-two);
    width: 100%;
    height: fit-content;
    padding: 1em 2em;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}
.single-btn{
    font-size: 1em;
    border: none;
    background-color: var(--green);
    color: var(--white);
    height: 2.5em;
    width: 8em;
    border-radius: 10px;
}
.single-btn:hover{
    background-color: var(--dark-green);
}