@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lilita+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
}
:root{
    --white: #FFFFFF;
    --red: #F05F5F;
    --dark-red: #C04F4F;
    --green: #63DA8C;
    --dark-green: #68B984;
    --blue: #3F8282;
    --dark-blue: #3D5656;
    --dark-blue-opacity: #3d5656c7;
    --white-blue: #B0E4C5;
    --font-one: 'Lilita One', cursive;
    --font-two: 'Didact Gothic', sans-serif;
}