.card{
    font-size: 1rem;
    width: fit-content;   
    height: fit-content;
    box-shadow: 0 0 10px;
    border-radius: 10px;
    padding: 1em;
    margin-left: 1.5em;
    font-family: var(--font-two);
    background-color: var(--white);
}
.card-name{
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
}
.card-image{
    width: 8em;
    height: 8em;
}
.card-price{
    display: block;
}
.card-btn{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: .5em;
    border: none;
    border-radius: 5px;
    color: var(--white);
}
.green{
    background-color: var(--green);
}
.red{
    background-color: var(--red);
}
.green:hover{
    background-color: var(--dark-green);
}
.red:hover{
    background-color: var(--dark-red);
}