.form{
    background-color: var(--blue);
    font-size: 1rem;
    width: 25em;
    height: fit-content;
    margin: auto 0;
    padding: 1.5em 1em;
    border-radius: 10px;
    box-shadow: -10px 10px 10px;
}
.title-form{
    text-align: center;
    color: var(--white);
    margin-bottom: .5em;
}
.container-form{
    display: flex;
    flex-direction: column;
}
.input{
    border: none;
    font-size: 1em;
    height: 2em;
    padding: 0 .5em;
    margin-bottom: .5em;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
}
.input::placeholder{
    color: var(--blue);
}
.btn-form{
    font-size: 1.2rem;
    font-weight: bold;
    height: 2.3em;
    border-radius: 5px;
    background-color: var(--green);
    border: none;
    color: var(--white);
}
.btn-form:hover{
    background-color: var(--dark-green);
}
.link{
    margin-top: 1em;
    text-align: center;
    color: var(--white);
}
.link:hover{
    text-decoration: underline;
}